<html>
<form>
    <h2><i>PRIJAVA</i></h2>
    <hr />
    <table class="tabela">
        <tr>
            <td>Korisnicko ime:</td>
            <td>
                <input type='text' name='kor_ime' [(ngModel)]='kor_ime'>
            </td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td>
                <input type='password' name='lozinka' [(ngModel)]='lozinka'>
            </td>
        </tr>
        <tr>
            <td colspan='2'  class="t">
                <input type='button' value='Prijava' (click)='prijavaNaSistem()'>
            </td>
        </tr>
    </table>
    <p class="error">{{poruka}}</p>
</form>
</html>